@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Ultimaicons';
  src: url("../fonts/Ultimaicons.eot?poi6w7");
  src: url("../fonts/Ultimaicons.eot?poi6w7#iefix") format("embedded-opentype"), url("../fonts/Ultimaicons.ttf?poi6w7") format("truetype"), url("../fonts/Ultimaicons.woff?poi6w7") format("woff"), url("../fonts/Ultimaicons.svg?poi6w7#Ultimaicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="ultima-icon-"], [class*=" ultima-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ultimaicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ultima-icon-ultima .path1:before {
  content: "\e900";
  color: #2196f3;
}

.ultima-icon-ultima .path2:before {
  content: "\e901";
  margin-left: -5.65625em;
  color: #338fe3;
}

.ultima-icon-ultima .path3:before {
  content: "\e902";
  margin-left: -5.65625em;
  color: #418ad7;
}

.ultima-icon-ultima .path4:before {
  content: "\e903";
  margin-left: -5.65625em;
  color: #5582c5;
}

.ultima-icon-ultima .path5:before {
  content: "\e904";
  margin-left: -5.65625em;
  color: #677ab4;
}

.ultima-icon-ultima .path6:before {
  content: "\e905";
  margin-left: -5.65625em;
  color: #7d72a1;
}

.ultima-icon-ultima .path7:before {
  content: "\e906";
  margin-left: -5.65625em;
  color: #8e6b92;
}

.ultima-icon-ultima .path8:before {
  content: "\e907";
  margin-left: -5.65625em;
  color: #8e6b92;
}

.ultima-icon-ultima .path9:before {
  content: "\e908";
  margin-left: -5.65625em;
  color: #a5627c;
}

.ultima-icon-ultima .path10:before {
  content: "\e909";
  margin-left: -5.65625em;
  color: #c25764;
}

.ultima-icon-ultima .path11:before {
  content: "\e90a";
  margin-left: -5.65625em;
  color: #d54f52;
}

.ultima-icon-ultima .path12:before {
  content: "\e90b";
  margin-left: -5.65625em;
  color: #f44336;
}

.ultima-icon-ultima .path13:before {
  content: "\e90c";
  margin-left: -5.65625em;
  color: #e44944;
}

.ultima-icon-play:before {
  content: "\e90d";
}

.ultima-icon-pause:before {
  content: "\e90e";
}

.ultima-icon-filter:before {
  content: "\e90f";
}

.ultima-icon-filter-active:before {
  content: "\e910";
}

.ultima-icon-search:before {
  content: "\e911";
}

.ultima-icon-triangle:before {
  content: "\e912";
}

.ultima-icon-vkontakte:before {
  content: "\e913";
}

.ultima-icon-facebook:before {
  content: "\e914";
}

.ultima-icon-twitter:before {
  content: "\e915";
}

.ultima-icon-instagram:before {
  content: "\e916";
}

body {
  background: #fafafa;
  font: 14px 'Roboto', sans-serif;
  box-sizing: border-box;
}

.ultima-icon {
  font-size: 22px;
}

.ultima-icon-logo {
  background-image: url("../images/logo-ultima.png");
  width: 182px;
  height: 32px;
}

.ultima-icon-search {
  background-position: -63px -33px;
  width: 21px;
  height: 21px;
}

.ultima-icon-twitter {
  background-position: -148px -33px;
  width: 20px;
  height: 18px;
}
.ultima-icon-twitter:hover {
  background-position: -127px -33px;
}

.ultima-icon-vkontakte {
  width: 20px;
  height: 20px;
}
.ultima-icon-vkontakte:hover {
  color: #4C75A3;
}

.ultima-icon-facebook {
  background-position: -169px -54px;
  width: 11px;
  height: 20px;
}
.ultima-icon-facebook:hover {
  background-position: -169px -33px;
}

.clear {
  content: '';
  clear: both;
  display: table;
}

header {
  position: relative;
  height: 84px;
  width: 87.5%;
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  -moz-box-shadow: 0px 19px 52px 0 #b9b9b9;
  -webkit-box-shadow: 0px 19px 52px 0 #b9b9b9;
  box-shadow: 0px 19px 52px 0 #b9b9b9;
}
header.player-archive:hover .player-progress-active {
  -moz-transition: height 90ms ease-out;
  -o-transition: height 90ms ease-out;
  -webkit-transition: height 90ms ease-out;
  transition: height 90ms ease-out;
  height: 16px;
}
header .player {
  position: absolute;
  top: 50%;
  margin-left: 40px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
header .player .player-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 37px;
  cursor: pointer;
  opacity: .7;
}
header .player .player-btn:hover {
  opacity: 1;
}
header .player .player-track {
  width: 320px;
  display: inline-block;
  color: #212121;
  vertical-align: middle;
  line-height: 24px;
  letter-spacing: 0.2px;
}
header .player .player-track .broadcast {
  color: #2095F2;
  letter-spacing: 1px;
  font-size: 0.85714em;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
header .player .player-track .player-track-artist,
header .player .player-track .player-track-title {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.14286em;
}
header .player .player-track .player-track-title {
  font-weight: 300;
}
header keyframes progress_loading_animate from {
  background-position: 0 0;
}
header keyframes progress_loading_animate to {
  background-position: 1200px 0;
}
@-o-keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1200px 0;
  }
}
@keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1200px 0;
  }
}
header .player-progress {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 84px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
header .player-progress.player-progress-active .player-progress-loading-bar {
  opacity: 1;
  transition: opacity 1s linear;
  background: url("../images/audio_progress.png") repeat-x;
  animation: progress_loading_animate 30s linear infinite;
}
header .player-progress .player-progress-loading-bar {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
header .player-progress .player-progress-wrap-val {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #2196f3 0%, #ff0000 100%, rgba(0, 0, 0, 0) 30px), repeating-linear-gradient(-45deg, transparent, transparent 6px, white 6px, white 12px);
}
header .player-progress .player-progress-wrap-val .player-progress-val {
  height: 100%;
  background-color: #eeeeee;
}
header .player-progress .player-progress-buffer {
  width: 0px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: #e0e0e0;
  z-index: 1;
}
header.player-live .player-progress-active .player-progress-wrap-val {
  opacity: 1;
  transition: opacity .9s linear;
}
header.player-live .player-progress-active .player-progress-wrap-val .player-progress-val {
  height: 0;
}
header.player-live .player-progress-active .player-progress-loading-bar {
  position: relative;
}
header.player-live .player-progress-text {
  display: none;
}
header.player-archive .player-progress {
  cursor: pointer;
  background-color: #eeeeee;
}
header.player-archive .player-progress-text {
  position: relative;
  font: 0.71429em "Arial";
  letter-spacing: 1.5px;
  -webkit-font-smoothing: none;
  z-index: 3;
}
header.player-archive .player-progress-text .pp-text-left {
  float: left;
  margin-left: 15px;
}
header.player-archive .player-progress-text .pp-text-right {
  float: right;
  margin-right: 15px;
}
header.player-archive .player-progress-text .pp-text-left,
header.player-archive .player-progress-text .pp-text-right {
  opacity: 0;
}
header.player-archive:hover .player-progress-text {
  height: 16px;
  line-height: 16px;
}
header.player-archive:hover .player-progress-text .pp-text-left,
header.player-archive:hover .player-progress-text .pp-text-right {
  transition: all 90ms ease-out 90ms;
  opacity: 1;
  display: block;
}
header.player-archive .player-progress-active .player-progress-wrap-val {
  height: 100%;
  opacity: 1;
  z-index: 2;
}
header.player-archive .player-progress-active .player-progress-buffer {
  height: 100%;
}
header.player-archive .player-progress-active .player-progress-loading-bar {
  display: none;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
header.player-archive .live {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
header.player-archive .live:hover {
  background-color: #2095F2;
  color: #fff;
}
header .live {
  visibility: hidden;
  position: absolute;
  top: 50%;
  width: 168px;
  height: 12px;
  padding: 5px;
  right: 200px;
  color: #2095F2;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 1px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
header .logo {
  position: absolute;
  left: 50%;
  top: 48%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
header .volume-player {
  width: 120px;
  height: 2px;
  background-color: #BCBCBC;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -1px;
  cursor: pointer;
}
header .button-live {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  background-color: #2196F3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
header .button-live .button-live-img {
  background-position: -63px -55px;
  width: 14px;
  height: 18px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.content {
  position: relative;
  width: 1200px;
  margin: 80px auto 0;
}
.content:after, .content:before {
  position: absolute;
  color: #eeeeee;
  z-index: -1;
  font-size: 92px;
  font-weight: 100;
}
.content:after {
  content: "блог";
  top: 60px;
  left: -124px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.content:before {
  content: 'архив';
  top: 85px;
  right: -152px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#slider .ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #616161;
  position: absolute;
  top: -4px;
  outline: none;
  z-index: 200;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  border-radius: 4.5px;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#slider:hover .ui-slider-range,
#slider:hover .ui-slider-handle {
  background-color: #212121;
}
#slider:hover .ui-slider-handle {
  transform: scale(1.5, 1.5);
}

.ui-widget-header {
  background: #606060 no-repeat left;
  height: 2px;
  left: 1px;
  top: 0;
  position: absolute;
}

.archive,
.blog {
  width: 580px;
  height: 850px;
  background-color: #fff;
  -moz-box-shadow: 0px 1px 4px 0 #e2e2e2;
  -webkit-box-shadow: 0px 1px 4px 0 #e2e2e2;
  box-shadow: 0px 1px 4px 0 #e2e2e2;
}

.blog {
  float: left;
  padding-top: 40px;
  box-sizing: border-box;
}
.blog .blog-wrapper {
  height: 770px;
  overflow: hidden;
}
.blog .post {
  font-size: 1.14286em;
  font-weight: 300;
}
.blog .post:not(:last-child) {
  margin-bottom: 40px;
}
.blog .post .post-header,
.blog .post .post-content {
  padding: 0 40px;
}
.blog .post .post-header {
  margin-bottom: 15px;
}
.blog .post .post-icon {
  float: left;
  margin-top: 3px;
}
.blog .post .post-published-date {
  color: #9E9E9E;
  display: inline-block;
  margin-left: 21px;
}
.blog .post .post-text {
  width: 346px;
  margin-bottom: 18px;
  line-height: 24px;
  text-align: justify;
  word-wrap: break-word;
}
.blog .post .post-text,
.blog .post .post-image {
  width: 500px;
}
.blog .post .post-audio-playing .audio-play {
  background-position: 8px -15px;
}
.blog .post .post-wall-audio {
  margin-top: 15px;
}
.blog .post .post-wall-audio .post-audio:hover {
  cursor: pointer;
  background-color: #f2f4f7;
}
.blog .post .post-wall-audio .post-audio:not(:first-child) {
  margin-top: 10px;
}
.blog .post .post-wall-audio .post-audio .post-audio-play {
  float: left;
}
.blog .post .post-wall-audio .post-audio .post-audio-play .audio-play {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #577CA1 url(../images/audio_playpause.png) no-repeat 8px 7px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
}
.blog .post .post-wall-audio .post-audio .audio-info {
  padding: 2px 0 0 35px;
}
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-artist,
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-title {
  color: #2a5885;
}
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-artist {
  font-weight: 500;
}
.blog .post .post-wall-audio .post-audio .audio-info .divider {
  padding: 0 5px;
}

.archive {
  float: right;
}
.archive .archive-form-search {
  position: relative;
  height: 80px;
}
.archive .archive-form-search .afs-input {
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0 100px 0 77px;
  border: 0;
  outline: none;
  vertical-align: middle;
  -moz-transition: box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  font-size: 1.14286em;
  box-sizing: border-box;
}
.archive .archive-form-search .afs-input:focus {
  -moz-box-shadow: 0px 10px 26px 0px #e0e0e0;
  -webkit-box-shadow: 0px 10px 26px 0px #e0e0e0;
  box-shadow: 0px 10px 26px 0px #e0e0e0;
}
.archive .archive-form-search .afs-btn {
  position: absolute;
  top: 50%;
  left: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .4;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.archive .archive-form-search .afs-filter {
  position: absolute;
  top: 50%;
  right: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.archive .archive-form-search-wrap {
  -moz-transition: box-shadow 0.3s ease 0.4s;
  -o-transition: box-shadow 0.3s ease 0.4s;
  -webkit-transition: box-shadow 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: box-shadow 0.3s ease 0.4s;
  font-weight: 300;
}
.archive .archive-form-search-wrap-active {
  -moz-transition: box-shadow 0.6s ease;
  -o-transition: box-shadow 0.6s ease;
  -webkit-transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  -moz-box-shadow: 0px 10px 26px 0px #e0e0e0;
  -webkit-box-shadow: 0px 10px 26px 0px #e0e0e0;
  box-shadow: 0px 10px 26px 0px #e0e0e0;
}
.archive .archive-form-search-active .afs-btn {
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
.archive .nav-calendar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  color: #616161;
  padding: 0 40px;
  font-size: 1.14286em;
  display: none;
}
.archive .nav-calendar .nc-row {
  height: 20px;
  text-align: justify;
}
.archive .nav-calendar .nc-row:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.archive .nav-calendar .nc-item {
  opacity: 0;
  padding: 14px 0;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  border-bottom: 1px solid #eee;
}
.archive .nav-calendar .nc-item .nc-sub-item {
  display: inline-block;
  cursor: pointer;
}
.archive .nav-calendar .nc-item .nc-sub-item:hover {
  color: #000;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.archive .nav-calendar .nc-item .nc-sub-item.nc-sub-item-selected {
  color: #2196F3;
}
.archive .nav-calendar .nav-calendar-year-section {
  padding: 26px 0 10px 0;
}
.archive .nav-calendar .nav-calendar-year-section .ncys-item {
  margin-right: 18px;
}
.archive .nav-calendar .nav-calendar-month-section {
  padding: 10px 0 9px 0;
}
.archive .nav-calendar .nav-calendar-month-section .nc-row:first-child {
  padding-bottom: 14px;
}
.archive .nav-calendar .nav-calendar-day-section {
  padding: 12px 0 9px 0;
}
.archive .nav-calendar .nav-calendar-day-section .nc-row:first-child {
  padding-bottom: 13px;
}
.archive .nav-calendar .nav-calendar-time-section {
  padding-top: 12px;
}
.archive .nav-calendar .nav-calendar-time-section .nc-row {
  padding-bottom: 12px;
}
.archive .nav-calendar .nc-reset-btn {
  position: absolute;
  top: 26px;
  right: 40px;
  opacity: 0;
  cursor: pointer;
}
.archive .nav-calendar .nc-reset-btn:hover {
  color: #f44336;
}
.archive .nav-calendar-active .nc-item,
.archive .nav-calendar-active .nc-reset-btn {
  -moz-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  -webkit-transition: opacity 0.4s ease;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.4s ease 0.4s;
  opacity: 1;
}
.archive .archive-wrapper {
  position: absolute;
  top: 78px;
  height: 770px;
  padding-left: 20px;
  overflow: hidden;
}
.archive .archive-wrapper .archive-audio {
  position: relative;
  width: 520px;
  height: 74px;
  padding: 28px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.archive .archive-wrapper .archive-audio:hover {
  border-color: #E0E0E0;
}
.archive .archive-wrapper .archive-audio .audio-info {
  display: inline-block;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.archive .archive-wrapper .archive-audio .audio-info .ai-title {
  font-size: 1.14286em;
  font-weight: 300;
}
.archive .archive-wrapper .archive-audio .audio-info .ai-singer {
  font-size: 1.14286em;
}
.archive .archive-wrapper .archive-audio .audio-duration {
  float: right;
  font-size: 1.14286em;
  font-weight: 300;
}
.archive .archive-wrapper .archive-audio-playing:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 8px;
  height: 11px;
  background: url("../images/ultima-icon.png") -1px -58px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
footer .footer-address {
  float: left;
}
footer .footer-address .fa-mail {
  color: #2095F2;
  font-weight: 300;
}
footer .footer-icons {
  float: right;
}
footer .footer-icons .footer-icons-list-item {
  display: inline-block;
  vertical-align: middle;
}
footer .footer-icons .footer-icons-list-item:not(:last-child) {
  margin-right: 28px;
}
footer .footer-stats {
  margin-top: 35px;
  float: left;
  width: 100%;
  font: 10px 'Arial';
  letter-spacing: 1.5px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}
footer .footer-stats .footer-stats-wrapper {
  float: right;
}
footer .footer-stats .footer-stats-wrapper .fs-item {
  display: inline-block;
  text-transform: uppercase;
}
footer .footer-stats .footer-stats-wrapper .fs-item:not(:last-child) {
  margin-right: 10px;
}
footer .footer-stats .footer-stats-wrapper .fs-item .fsi-name {
  display: inline-block;
  color: #9d9d9d;
}
footer .footer-stats .footer-stats-wrapper .fs-item .fsi-val {
  display: inline-block;
  color: #747474;
}
