@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic);
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

body {
  background: #fafafa;
  font: 14px 'Roboto', sans-serif;
  box-sizing: border-box;
}

.ultima-icon {
  background: url("../images/icon-ultima.png");
}

.ultima-icon-logo-ultima {
  background-position: 0px 0px;
  width: 182px;
  height: 32px;
}

.ultima-icon-control {
  background-position: 0px -32px;
  width: 30px;
  height: 24px;
}

.ultima-icon-search {
  background-position: -51px -32px;
  width: 21px;
  height: 21px;
}

.ultima-icon-instagram {
  background-position: -30px -32px;
  width: 21px;
  height: 20px;
}

.ultima-icon-twitter {
  background-position: -72px -32px;
  width: 21px;
  height: 18px;
}

.ultima-icon-vk {
  background-position: -93px -32px;
  width: 20px;
  height: 12px;
}

.ultima-icon-facebook {
  background-position: -145px -32px;
  width: 12px;
  height: 20px;
}

.ultima-icon-triangle {
  background-position: -157px -32px;
  width: 8px;
  height: 11px;
}

.clear {
  content: '';
  clear: both;
  display: table;
}

header {
  position: relative;
  height: 84px;
  width: 87.5%;
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  -moz-box-shadow: 0px 15px 30px 10px #dbdbdb;
  -webkit-box-shadow: 0px 15px 30px 10px #dbdbdb;
  box-shadow: 0px 15px 30px 10px #dbdbdb;
}
header .player {
  position: absolute;
  top: 50%;
  margin-left: 40px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
header .player .player-btn {
  width: 16px;
  height: 20px;
  background-position: -113px -32px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 4px 40px 0 0;
  opacity: .7;
}
header .player .player-btn:hover {
  opacity: 1;
}
header .player .player-btn.player-btn-pause {
  background-position: -129px -32px;
}
header .player .player-track {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: #212121;
}
header .player .player-track .broadcast {
  font: 0.85714em "Roboto Medium";
  text-transform: uppercase;
  color: #2095F2;
}
header .player .player-track .live {
  display: none;
  width: 147px;
  height: 12px;
  padding: 5px;
  right: 205px;
  color: #2095F2;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
header .player .player-track .live:hover {
  background-color: #2095F2;
  color: #fff;
}
header .player .player-track .player-track-artist {
  font: 1.14286em "Roboto Regular";
}
header .player .player-track .player-track-title {
  font: 1.14286em "Roboto Light";
  font-weight: 400;
}
header keyframes progress_loading_animate from {
  background-position: 0 0;
}
header keyframes progress_loading_animate to {
  background-position: 9px 0;
}
@-o-keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 9px 0;
  }
}
@keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 9px 0;
  }
}
header .player-progress {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #EDEDED;
  cursor: pointer;
}
header .player-progress.player-progress-active .player-progress-loading-bar {
  opacity: 1;
  transition: opacity 1s linear;
  background: url("../images/audio_progress.png") repeat-x;
  animation: progress_loading_animate 300ms linear infinite;
}
header .player-progress .player-progress-loading-bar {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
header .player-progress .player-progress-val {
  width: 0px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to right, #2196f3 0%, #ff0000 100%, rgba(0, 0, 0, 0) 30px), repeating-linear-gradient(-45deg, transparent, transparent 6px, white 6px, white 12px);
  z-index: 2;
}
header .player-progress .player-progress-buffer {
  width: 0px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: red;
}
header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -91px;
  margin-top: -16px;
  width: 182px;
  height: 32px;
  cursor: pointer;
}
header .volume-player {
  width: 120px;
  height: 2px;
  background-color: #BCBCBC;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -1px;
  cursor: pointer;
}

.content {
  position: relative;
  width: 1200px;
  margin: 80px auto 0;
}
.content:after, .content:before {
  position: absolute;
  color: #eeeeee;
  z-index: -1;
  font-size: 92px;
  font-weight: 100;
}
.content:after {
  content: "blog";
  top: 60px;
  left: -124px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.content:before {
  content: "archive";
  top: 85px;
  right: -152px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #616161;
  position: absolute;
  top: -4px;
  outline: none;
  z-index: 200;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  border-radius: 4.5px;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.ui-widget-header {
  background: #606060 no-repeat left;
  height: 2px;
  left: 1px;
  top: 0;
  position: absolute;
}

.archive,
.blog {
  width: 580px;
  height: 850px;
  -moz-box-shadow: 0px 1px 3px 2px #f1f1f1;
  -webkit-box-shadow: 0px 1px 3px 2px #f1f1f1;
  box-shadow: 0px 1px 3px 2px #f1f1f1;
}

.blog {
  float: left;
  padding-top: 42px;
}
.blog .blog-wrapper {
  height: 770px;
}
.blog .post {
  font-size: 16px;
}
.blog .post:not(:last-child) {
  margin-bottom: 40px;
}
.blog .post .post-header,
.blog .post .post-content {
  padding: 0 40px;
}
.blog .post .post-header {
  margin-bottom: 15px;
}
.blog .post .post-icon {
  float: left;
  margin-top: 3px;
}
.blog .post .post-published-date {
  color: #b9b9b9;
  font-weight: 300;
  display: inline-block;
  margin-left: 21px;
}
.blog .post .post-text {
  width: 346px;
  margin-bottom: 18px;
  line-height: 22px;
  text-align: justify;
  word-wrap: break-word;
}
.blog .post .post-text,
.blog .post .post-image {
  width: 500px;
}
.blog .post .post-audio-playing .audio-play {
  background-position: 8px -15px;
}
.blog .post .post-wall-audio {
  margin-top: 15px;
}
.blog .post .post-wall-audio .post-audio:not(:first-child) {
  margin-top: 10px;
}
.blog .post .post-wall-audio .post-audio .post-audio-play {
  float: left;
}
.blog .post .post-wall-audio .post-audio .post-audio-play .audio-play {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #577CA1 url(../images/audio_playpause.png) no-repeat 8px 7px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
}
.blog .post .post-wall-audio .post-audio .post-audio-info {
  padding: 2px 0 0 35px;
}
.blog .post .post-wall-audio .post-audio .post-audio-info .pai-artist,
.blog .post .post-wall-audio .post-audio .post-audio-info .pai-title {
  color: #2a5885;
}
.blog .post .post-wall-audio .post-audio .post-audio-info .pai-artist {
  font-weight: 500;
}
.blog .post .post-wall-audio .post-audio .post-audio-info .divider {
  padding: 0 5px;
}

.archive {
  float: right;
}
.archive .archive-form-search {
  display: inline-block;
  height: 40px;
  width: 93%;
  margin-left: 22px;
  margin-top: 40px;
  z-index: 1;
  -moz-box-shadow: 0px 3px 6px 1px #dbdbdb;
  -webkit-box-shadow: 0px 3px 6px 1px #dbdbdb;
  box-shadow: 0px 3px 6px 1px #dbdbdb;
}
.archive .archive-form-search .afs-input {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 0;
  outline: none;
  vertical-align: middle;
  -moz-transition: margin-top 0.9s ease;
  -o-transition: margin-top 0.9s ease;
  -webkit-transition: margin-top 0.9s ease;
  transition: margin-top 0.9s ease;
  font: 16px 'Roboto', sans-serif;
  font-weight: 300;
}
.archive .archive-form-search .afs-btn {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.archive .nav-calendar {
  padding: 0 40px;
}
.archive .nav-calendar .nc-item {
  border-bottom: 1px solid #eee;
}
.archive .nav-calendar .nc-item .nc-sub-item {
  display: inline-block;
  font: 1.14286em "Roboto Light";
  cursor: pointer;
}
.archive .nav-calendar .nc-item .nc-sub-item.nc-sub-item-selected {
  color: #2196F3;
}
.archive .nav-calendar .nav-calendar-year-section .ncys-item {
  margin-right: 15px;
}
.archive .nav-calendar .nav-calendar-month-section .ncms-item {
  margin-right: 40px;
}
.archive .nav-calendar .nav-calendar-day-section .ncds-item {
  margin-right: 15px;
}
.archive .nav-calendar .nav-calendar-time-section .ncts-item {
  margin-right: 22px;
}
.archive .archive-wrapper {
  padding-left: 20px;
}
.archive .archive-wrapper .archive-audio {
  width: 520px;
  height: 74px;
  padding: 28px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.archive .archive-wrapper .archive-audio:hover {
  border-color: #E0E0E0;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
footer .footer-address {
  float: left;
}
footer .footer-icons {
  float: right;
}
footer .footer-icons .footer-icons-list-item:not(:last-child) {
  margin-right: 28px;
}
footer .footer-icons .footer-icons-list-item {
  display: inline-block;
}
