@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic);
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

body {
  background: #fafafa;
  font: 14px 'Roboto', sans-serif;
  box-sizing: border-box;
}

.ultima-icon {
  background: url("../images/ultima-icon.png");
}

.ultima-icon-logo {
  background-position: -1px -0px;
  background-position: 0px 0px;
  width: 182px;
  height: 32px;
}

.ultima-icon-filter {
  background-position: -32px -33px;
  width: 30px;
  height: 24px;
}

.ultima-icon-search {
  background-position: -63px -33px;
  width: 21px;
  height: 21px;
}

.ultima-icon-instagram {
  background-position: -106px -33px;
  width: 20px;
  height: 20px;
}
.ultima-icon-instagram:hover {
  background-position: -85px -33px;
}

.ultima-icon-twitter {
  background-position: -148px -33px;
  width: 20px;
  height: 18px;
}
.ultima-icon-twitter:hover {
  background-position: -127px -33px;
}

.ultima-icon-vkontakte {
  background-position: -148px -52px;
  width: 20px;
  height: 12px;
}
.ultima-icon-vkontakte:hover {
  background-position: -127px -52px;
}

.ultima-icon-facebook {
  background-position: -169px -54px;
  width: 11px;
  height: 20px;
}
.ultima-icon-facebook:hover {
  background-position: -169px -33px;
}

.clear {
  content: '';
  clear: both;
  display: table;
}

header {
  position: relative;
  height: 84px;
  width: 87.5%;
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  -moz-box-shadow: 0px 19px 50px 0 #e0e0e0;
  -webkit-box-shadow: 0px 19px 50px 0 #e0e0e0;
  box-shadow: 0px 19px 50px 0 #e0e0e0;
}
header.player-archive:hover .player-progress-active {
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  height: 16px;
}
header .player {
  position: absolute;
  top: 50%;
  margin-left: 40px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
header .player .player-btn {
  width: 16px;
  height: 20px;
  background-position: -85px -54px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 40px;
  opacity: .7;
}
header .player .player-btn:hover {
  opacity: 1;
}
header .player .player-btn.player-btn-pause {
  background-position: -102px -54px;
}
header .player .player-track {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: #212121;
}
header .player .player-track .broadcast {
  font: 0.85714em "Roboto Medium";
  text-transform: uppercase;
  color: #2095F2;
}
header .player .player-track .player-track-artist {
  font: 1.14286em "Roboto Regular";
}
header .player .player-track .player-track-title {
  font: 1.14286em "Roboto Light";
  font-weight: 400;
}
header keyframes progress_loading_animate from {
  background-position: 0 0;
}
header keyframes progress_loading_animate to {
  background-position: 1200px 0;
}
@-o-keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1200px 0;
  }
}
@keyframes progress_loading_animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1200px 0;
  }
}
header .player-progress {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 84px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
header .player-progress.player-progress-active .player-progress-loading-bar {
  opacity: 1;
  transition: opacity 1s linear;
  background: url("../images/audio_progress.png") repeat-x;
  animation: progress_loading_animate 30s linear infinite;
}
header .player-progress .player-progress-loading-bar {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
header .player-progress .player-progress-val {
  width: 100%;
  height: 4px;
  position: absolute;
  tops: 0;
  opacity: 0;
  background-image: linear-gradient(to right, #2196f3 0%, #ff0000 100%, rgba(0, 0, 0, 0) 30px), repeating-linear-gradient(-45deg, transparent, transparent 6px, white 6px, white 12px);
  z-index: 2;
}
header .player-progress .player-progress-buffer {
  width: 0px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: #e0e0e0;
  z-index: 1;
}
header.player-live .player-progress-active .player-progress-val {
  opacity: 1;
  transition: opacity .9s linear;
}
header.player-live .player-progress-active .player-progress-loading-bar {
  position: relative;
}
header.player-live .player-progress-text {
  display: none;
}
header.player-archive .player-progress {
  cursor: pointer;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #eeeeee;
}
header.player-archive .player-progress .player-progress-val {
  width: 0;
}
header.player-archive .player-progress-text {
  position: relative;
  font: 0.71429em "Arial Regular";
  z-index: 3;
}
header.player-archive .player-progress-text .pp-text-left {
  float: left;
  margin-left: 15px;
  display: none;
}
header.player-archive .player-progress-text .pp-text-right {
  float: right;
  margin-right: 15px;
  display: none;
}
header.player-archive:hover .player-progress-text {
  height: 16px;
  line-height: 16px;
}
header.player-archive:hover .player-progress-text .pp-text-left,
header.player-archive:hover .player-progress-text .pp-text-right {
  display: block;
}
header.player-archive .player-progress-active .player-progress-val {
  height: 100%;
  opacity: 1;
}
header.player-archive .player-progress-active .player-progress-buffer {
  height: 100%;
}
header.player-archive .player-progress-active .player-progress-loading-bar {
  display: none;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
header .live {
  display: none;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 147px;
  height: 12px;
  padding: 5px;
  right: 200px;
  color: #2095F2;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
}
header .live.live-show {
  display: block;
  opacity: 1;
  cursor: pointer;
}
header .live:hover {
  background-color: #2095F2;
  color: #fff;
}
header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
header .volume-player {
  width: 120px;
  height: 2px;
  background-color: #BCBCBC;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -1px;
  cursor: pointer;
}
header .button-live {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  background-color: #2196F3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
header .button-live .button-live-img {
  background-position: -63px -55px;
  width: 14px;
  height: 18px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.content {
  position: relative;
  width: 1200px;
  margin: 80px auto 0;
}
.content:after, .content:before {
  position: absolute;
  color: #eeeeee;
  z-index: -1;
  font-size: 92px;
  font-weight: 100;
}
.content:after {
  content: "блог";
  top: 60px;
  left: -124px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.content:before {
  content: 'архив';
  top: 85px;
  right: -152px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#slider .ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #616161;
  position: absolute;
  top: -4px;
  outline: none;
  z-index: 200;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  border-radius: 4.5px;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#slider:hover .ui-slider-range,
#slider:hover .ui-slider-handle {
  background-color: #212121;
}
#slider:hover .ui-slider-handle {
  transform: scale(1.5, 1.5);
}

.ui-widget-header {
  background: #606060 no-repeat left;
  height: 2px;
  left: 1px;
  top: 0;
  position: absolute;
}

.archive,
.blog {
  width: 580px;
  height: 850px;
  -moz-box-shadow: 0px 1px 3px 2px #f1f1f1;
  -webkit-box-shadow: 0px 1px 3px 2px #f1f1f1;
  box-shadow: 0px 1px 3px 2px #f1f1f1;
}

.blog {
  float: left;
  padding-top: 42px;
  box-sizing: border-box;
}
.blog .blog-wrapper {
  height: 770px;
}
.blog .post {
  font-size: 16px;
}
.blog .post:not(:last-child) {
  margin-bottom: 40px;
}
.blog .post .post-header,
.blog .post .post-content {
  padding: 0 40px;
}
.blog .post .post-header {
  margin-bottom: 15px;
}
.blog .post .post-icon {
  float: left;
  margin-top: 3px;
}
.blog .post .post-published-date {
  color: #b9b9b9;
  font-weight: 300;
  display: inline-block;
  margin-left: 21px;
}
.blog .post .post-text {
  width: 346px;
  margin-bottom: 18px;
  line-height: 22px;
  text-align: justify;
  word-wrap: break-word;
}
.blog .post .post-text,
.blog .post .post-image {
  width: 500px;
}
.blog .post .post-audio-playing .audio-play {
  background-position: 8px -15px;
}
.blog .post .post-wall-audio {
  margin-top: 15px;
}
.blog .post .post-wall-audio .post-audio:hover {
  cursor: pointer;
  background-color: #f2f4f7;
}
.blog .post .post-wall-audio .post-audio:not(:first-child) {
  margin-top: 10px;
}
.blog .post .post-wall-audio .post-audio .post-audio-play {
  float: left;
}
.blog .post .post-wall-audio .post-audio .post-audio-play .audio-play {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #577CA1 url(../images/audio_playpause.png) no-repeat 8px 7px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
}
.blog .post .post-wall-audio .post-audio .audio-info {
  padding: 2px 0 0 35px;
}
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-artist,
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-title {
  color: #2a5885;
}
.blog .post .post-wall-audio .post-audio .audio-info .audio-info-artist {
  font-weight: 500;
}
.blog .post .post-wall-audio .post-audio .audio-info .divider {
  padding: 0 5px;
}

.archive {
  float: right;
}
.archive .archive-form-search {
  position: relative;
  height: 80px;
}
.archive .archive-form-search .afs-input {
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0 100px 0 77px;
  border: 0;
  outline: none;
  vertical-align: middle;
  -moz-transition: box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  font: 16px 'Roboto Light', sans-serif;
  box-sizing: border-box;
}
.archive .archive-form-search .afs-input:focus {
  -moz-box-shadow: 0px 10px 26px 0px #e0e0e0;
  -webkit-box-shadow: 0px 10px 26px 0px #e0e0e0;
  box-shadow: 0px 10px 26px 0px #e0e0e0;
}
.archive .archive-form-search .afs-btn {
  position: absolute;
  top: 50%;
  left: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .4;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.archive .archive-form-search .afs-filter {
  position: absolute;
  top: 50%;
  right: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.archive .archive-form-search .afs-filter-open {
  background-position: -1px -33px;
}
.archive .archive-form-search-active .afs-btn {
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
.archive .nav-calendar {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  color: #616161;
  padding: 0 40px;
  font: 1.14286em "Roboto Light";
  opacity: 0;
  display: none;
  border: 1px solid red;
}
.archive .nav-calendar .nc-row {
  text-align: justify;
}
.archive .nav-calendar .nc-row:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.archive .nav-calendar .nc-item {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}
.archive .nav-calendar .nc-item .nc-sub-item {
  display: inline-block;
  cursor: pointer;
}
.archive .nav-calendar .nc-item .nc-sub-item:hover {
  color: #000;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.archive .nav-calendar .nc-item .nc-sub-item.nc-sub-item-selected {
  color: #2196F3;
}
.archive .nav-calendar .nc-reset-btn {
  position: absolute;
  top: 13px;
  right: 40px;
  cursor: pointer;
}
.archive .nav-calendar .nc-reset-btn:hover {
  color: #f44336;
}
.archive .nav-calendar-active {
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
}
.archive .archive-wrapper {
  height: 770px;
  padding-left: 20px;
}
.archive .archive-wrapper .archive-audio {
  position: relative;
  width: 520px;
  height: 74px;
  padding: 28px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.archive .archive-wrapper .archive-audio:hover {
  border-color: #E0E0E0;
}
.archive .archive-wrapper .archive-audio .audio-info {
  display: inline-block;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.archive .archive-wrapper .archive-audio .audio-info .audio-info-title {
  font: 1.14286em "Roboto Regular";
}
.archive .archive-wrapper .archive-audio .audio-info .audio-info-artist {
  font: 1.14286em "Roboto Light";
}
.archive .archive-wrapper .archive-audio .audio-duration {
  float: right;
}
.archive .archive-wrapper .archive-audio-playing:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 8px;
  height: 11px;
  background: url("../images/ultima-icon.png") -1px -58px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
footer .footer-address {
  float: left;
}
footer .footer-icons {
  float: right;
}
footer .footer-icons .footer-icons-list-item {
  display: inline-block;
  vertical-align: middle;
}
footer .footer-icons .footer-icons-list-item:not(:last-child) {
  margin-right: 28px;
}
footer .footer-stats {
  margin-top: 35px;
  float: left;
  width: 100%;
  font: 10px 'Arial';
  letter-spacing: 1.5px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}
footer .footer-stats .footer-stats-wrapper {
  float: right;
}
footer .footer-stats .footer-stats-wrapper .fs-item {
  display: inline-block;
  text-transform: uppercase;
}
footer .footer-stats .footer-stats-wrapper .fs-item:not(:last-child) {
  margin-right: 10px;
}
footer .footer-stats .footer-stats-wrapper .fs-item .fsi-name {
  display: inline-block;
  color: #9d9d9d;
}
footer .footer-stats .footer-stats-wrapper .fs-item .fsi-val {
  display: inline-block;
  color: #747474;
}
