@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic);
@import "compass";
@import "compass/css3";

@function em($pixels, $context) {
  @return #{$pixels/$context}em
}

@mixin animation-play-stop($state) {
    -webkit-animation-play-state: $state;
    -moz-animation-play-state: $state;
    -o-animation-play-state: $state;
    animation-play-state: $state;
}

$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 480px;

@mixin respondto($media) {
	// 1024+
	@if $media == desktop {
    	@media (min-width: #{$desktop}) {
    		@content;
    	}
  	}
  	// (768-1023)
  	@else if $media == tablet-landscape {
    	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    		@content;
  		}
  	}
  	// (481-767)
  	@else if $media == tablet-portrait {
    	@media (min-width: #{$phone-width + 1px}) and (max-width: #{$tablet-width - 1px}) {
    		@content;
  		}
  	}
  	// (0-480)
  	@else if $media == phone {
    	@media (max-width: #{$phone-width}) {
    		@content;
  		}
  	}
}

* {
	margin: 0;
 	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

body {
	background: #fafafa;
	font: 14px 'Roboto', sans-serif;
    box-sizing: border-box;
}

.ultima-icon {
	background: url('../images/ultima-icon.png');
}

.ultima-icon-logo { 
	background-position: -1px -0px; 
    background-position: 0px 0px; 
    width: 182px; 
    height: 32px; 
}

.ultima-icon-filter { 
    background-position: 0px -32px; 
    width: 30px;
    height: 24px; 
}

.ultima-icon-search { 
     background-position: -32px -33px;
    width: 21px; 
    height: 21px; 
}

.ultima-icon-instagram { 
    background-position: -75px -33px;
    width: 20px; 
    height: 20px;

    &:hover {
    	background-position: -54px -33px;
    } 
}

.ultima-icon-twitter { 
    background-position: -117px -33px;
    width: 20px; 
    height: 18px;

    &:hover {
     	background-position: -96px -33px;
    }
}

.ultima-icon-vk { 
    background-position: -159px -33px;
    width: 20px; 
    height: 12px; 

    &:hover {
    	background-position: -138px -33px;
    }
}

.ultima-icon-facebook { 
    background-position: -108px -52px;
    width: 11px; 
    height: 20px;

    &:hover {
    	background-position: -96px -52px;
    } 
}

.ultima-icon-triangle { 
    background-position: -157px -32px; 
    width: 8px; 
    height: 11px; 
}

.clear {
	content: '';
	clear: both;
	display: table;
}

header {
	position: relative;
	height: 84px;
	width: 87.5%;
	max-width: 1200px;
	background-color: #fff;
	margin: 0 auto;
	@include box-shadow (0px 15px 30px 10px #dbdbdb);

	&.player-archive:hover {
		.player-progress-active {
			@include transition(height .3s ease-out);
			height: 16px;
		}
	}

	.player {
		position: absolute;
		top: 50%;
        margin-left: 40px;
        @include transform (translate(0, -50%));
    
        .player-btn {
            width: 16px; 
            height: 20px;
            background-position: -138px -46px;
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			margin: 4px 40px 0 0;
            opacity: .7;
            
            &:hover {
                opacity: 1;
            } 

			&.player-btn-pause {
  		        background-position: -155px -46px;
			}
		}

		.player-track {
			width: 280px;
			display: inline-block;
			vertical-align: middle;
			line-height: 24px;
			color: #212121;

			.broadcast {
				font: em(12,14) 'Roboto Medium';
				text-transform: uppercase;
				color: #2095F2;
			}
            
            .player-track-artist {
                font: em(16,14) 'Roboto Regular';
            }

			.player-track-title {
				font: em(16,14) 'Roboto Light';
    			font-weight: 400;
			}
		}
	}
    
    keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }
    @-o-keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }
    @keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }

	.player-progress {
		height: 4px;
		width: 100%;
		position: absolute;
		top: 84px;
        
        &.player-progress-active {
            .player-progress-loading-bar {
                opacity: 1;
                transition: opacity 1s linear;
                background: url('../images/audio_progress.png') repeat-x;
                animation: progress_loading_animate 30s linear infinite;    
            }    
        }
        
        .player-progress-loading-bar {
            width: 100%;
            height: 100%;
            opacity: 0;
            @include animation-play-stop(paused);
        }

		.player-progress-val {
			width: 100%;
			height: 4px;
			position: absolute;
			bottom: 0;
			opacity: 0;
  			background-image: linear-gradient(to right, #2196F3 0%, #ff0000 100%, transparent 30px), repeating-linear-gradient(-45deg, transparent, transparent 6px, rgba(255,255,255,1) 6px, rgba(255,255,255,1) 12px);
		}

		.player-progress-buffer {
			width: 0px;
			height: 4px;
			position: absolute;
			bottom: 0;
			background-color: red;	
		}
	}

	&.player-live {

		.player-progress-active {
			.player-progress-val {
				opacity: 1;
				transition: opacity .9s linear;
			}

			.player-progress-loading-bar {
				position: relative;
			}
		}
	}

	&.player-archive {
		.player-progress {
			cursor: pointer;
			@include transition(all 1s ease);
			background-color: #eeeeee;	
		}
	}

	.live {
        // display: none;
        position: absolute;
        top: 50%;
        @include transform(translate(0, -50%));
        @include border-radius(3px);
        @include transition(all .6s ease);
        width: 147px;
        height: 12px;
        padding: 5px;
        right: 200px;
        color: #2095F2;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0;

        &.live-show {
        	opacity: 1;
        }

        &:hover {
            background-color: #2095F2;
            color: #fff;
        }
	}

	.logo {
		position: absolute;	
		left: 50%;
    	top: 50%;
    	@include transform(translate(-50%, -50%));
		cursor: pointer;
	}

	.volume-player {
		width: 120px;
		height: 2px;
		background-color: #BCBCBC;
		position: absolute;
		right: 40px;
		top: 50%;
		margin-top: -1px;
		cursor: pointer;
	}

	.button-live {
		display: none;
		width: 60px;
		height: 60px;
		background-color: #2196F3;
		@include border-radius(50%);
		cursor:pointer;

		.button-live-img {
			width: 14px;
			height: 18px;
			background: url('../images/icons/play-live.png')
		}
	}
}

.content {
    position: relative;
	width: 1200px;
	margin: 80px auto 0;

	&:after,
	&:before {
		position: absolute;
		color: #eeeeee;
		z-index: -1;
		font-size: 92px;
		font-weight: 100;
	}

	&:after {
		content: "blog";
		top: 60px;
		left: -124px;
		@include transform(rotate(-90deg));
	}

	&:before {
		content: "archive";
		top: 85px;
		right: -152px;
		@include transform(rotate(90deg));
	}
}


.ui-slider-handle {
	width: 10px;
	height: 10px;
	background: #616161;
	position: absolute;
	top: -4px;
	outline: none;
	z-index: 200;
	@include border-radius(4.5px);
	@include transition (transform 0.3s)
}


.ui-widget-header {
	background: #606060 no-repeat left;
	height:2px;
	left:1px;
	top:0;
	position:absolute;
}

.archive,
.blog {
	width: 580px;
	height: 850px;
	@include box-shadow (0px 1px 3px 2px #f1f1f1);
}

.blog {
	float: left;
    padding-top: 42px;
    
    .blog-wrapper {
        height: 770px;
    }

	.post {
		font-size: 16px;
        
        &:not(:last-child) {
            margin-bottom: 40px;
        }

		.post-header,
		.post-content {
			padding: 0 40px;
		}
        
        .post-header {    
            margin-bottom: 15px;
        }
        
		.post-icon {
            float: left;
            margin-top: 3px;
		}

		.post-published-date {
			color: #b9b9b9;
    		font-weight: 300;
    		display: inline-block;
            margin-left: 21px;
		}

		.post-text {
		    width: 346px;
		    margin-bottom: 18px;
		    line-height: 22px;
		    text-align: justify;
		    word-wrap: break-word;
		}

		.post-text,
		.post-image {
			width: 500px;
		}

		.post-audio-playing {
			.audio-play {
				background-position: 8px -15px;
			}	
		}

		.post-wall-audio {
			margin-top: 15px;

			.post-audio {

				&:hover {
					cursor: pointer;
					background-color: #f2f4f7;
				}

				&:not(:first-child) {
					margin-top: 10px;
				}
		
				.post-audio-play {
					float: left;

					.audio-play {
						width: 24px;
						height: 24px;
						border-radius: 50%;
						background: #577CA1 url(../images/audio_playpause.png) no-repeat 8px 7px;
						outline: none;
						border: none;
						display: block;
						cursor: pointer;
					}
				}

				.post-audio-info {
					padding: 2px 0 0 35px;

					.pai-artist,
					.pai-title {
						color: #2a5885;
					}

					.pai-artist {
						font-weight: 500;
					}

					.divider {
						padding: 0 5px;
					}
				}
			}
		}
	}
}


.archive {
	float: right;

	.archive-form-search {
		display: inline-block;
		height: 40px;
		width: 93%;
//		position: absolute;
		margin-left: 22px;
		margin-top: 40px;
		z-index: 1;
		@include box-shadow (0px 3px 6px 1px #dbdbdb);

		.afs-input {
			height: 100%;
			width: 100%;
			text-align: center;
			border: 0;
			outline:none;
			vertical-align: middle;
			@include transition (margin-top .90s ease);
			font: 16px 'Roboto', sans-serif;
			font-weight: 300;
		}

		.afs-btn {
            cursor: pointer;
			border: none;
			outline:none;
			-webkit-appearance: none;
		}

		.afs-filter {
			cursor: pointer;
		}
	}
    
    .nav-calendar {
        color: #616161;
        padding: 0 40px;
        font: em(16,14) "Roboto Light";
        
        .nc-item {
            padding-top: 12px;    
            border-bottom: 1px solid #eee;

            .nc-sub-item {
                display: inline-block;
                cursor: pointer;

                &:hover {
                	color: #000;
                	@include transition(color 0.2s ease);
                }
                
                &.nc-sub-item-selected {
                    color: #2196F3;
                }
            } 
        }
        .nav-calendar-year-section {
        	padding-bottom: 10px;
        	
            .ncys-item {
                margin-right: 15px;
            }
        }
        
        .nav-calendar-month-section {
			padding-top: 11px;

            .ncms-item { 
            	margin-bottom: 12px;

            	&:not(:nth-child(6n+6)) {
                	margin-right: 40px;	
            	}
            }
        }
        
        .nav-calendar-day-section {
            .ncds-item {
                margin-right: 15px;   
            }
        }
        
        .nav-calendar-time-section {
            .ncts-item {
                margin-right: 22px;
            }
        }
    }
    
    .archive-wrapper {
        padding-left: 20px;
        
        .archive-audio {
        	position: relative;
            width: 520px;
            height: 74px;
            padding: 28px 20px;
            border: 1px solid transparent;
            box-sizing: border-box;
            cursor: pointer;
          
            &:hover {
                border-color: #E0E0E0;
            }

            .archive-audio-info {
            	display: inline-block;
            	width: 400px;
            	overflow: hidden;
            	white-space: nowrap;
            	text-overflow: ellipsis;

            	.aai-title {
					font: em(16,14) 'Roboto Regular';
            	}

            	.aai-artist {
					font: em(16,14) 'Roboto Light';
            	}
            }

            .archive-audio-duration {
            	float: right;
            }
        }

        .archive-audio-playing {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				@include transform(translate(0, -50%));
				display: block;
				width: 8px; 
				height: 11px;
				background: url('../images/ultima-icon.png') -172px -46px; 
			}
        } 
    }
}

footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    
    .footer-address {
        float: left;
    }
    
    .footer-icons {
        float: right;
        
        .footer-icons-list-item {
            &:not(:last-child) {
                margin-right: 28px;
            }
        }
        
        .footer-icons-list-item {
            display: inline-block;
        } 
    }
    
}