@import "compass";
@import "compass/css3";

@function em($pixels, $context) {
  @return #{$pixels/$context}em
}

@mixin animation-play-stop($state) {
    -webkit-animation-play-state: $state;
    -moz-animation-play-state: $state;
    -o-animation-play-state: $state;
    animation-play-state: $state;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 480px;

@mixin respondto($media) {
	// 1024+
	@if $media == desktop {
    	@media (min-width: #{$desktop}) {
    		@content;
    	}
  	}
  	// (768-1023)
  	@else if $media == tablet-landscape {
    	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    		@content;
  		}
  	}
  	// (481-767)
  	@else if $media == tablet-portrait {
    	@media (min-width: #{$phone-width + 1px}) and (max-width: #{$tablet-width - 1px}) {
    		@content;
  		}
  	}
  	// (0-480)
  	@else if $media == phone {
    	@media (max-width: #{$phone-width}) {
    		@content;
  		}
  	}
}

* {
	margin: 0;
 	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

body {
	background: #fafafa;
	font: 14px 'Roboto', sans-serif;
    box-sizing: border-box;
}

.ultima-icon {
	background: url('../images/ultima-icon.png');
}

.ultima-icon-logo { 
	background-image: url('../images/logo-ultima.png');
    width: 182px; 
    height: 32px; 
}

.ultima-icon-filter {
	// background-position: -32px -33px;
	background-image: url('../images/icons/svg/filter.svg');
    width: 30px;
    height: 24px; 
}

.ultima-icon-search {
	//background-position: -63px -33px;
	background-image: url('../images/icons/svg/search.svg');
    width: 21px; 
    height: 21px; 
}

.ultima-icon-instagram { 
    background-position: -106px -33px;
    width: 20px; 
    height: 20px;

    &:hover {
    	background-position: -85px -33px;
    } 
}

.ultima-icon-twitter { 
    background-position: -148px -33px;
    width: 20px; 
    height: 18px;

    &:hover {
     	background-position: -127px -33px;
    }
}

.ultima-icon-vkontakte { 
    background-position: -148px -52px;
    width: 20px; 
    height: 12px; 

    &:hover {
    	background-position: -127px -52px;
    }
}

.ultima-icon-facebook { 
    background-position: -169px -54px;
    width: 11px; 
    height: 20px;

    &:hover {
    	background-position: -169px -33px;
    } 
}

.clear {
	content: '';
	clear: both;
	display: table;
}

header {
	position: relative;
	height: 84px;
	width: 87.5%;
	max-width: 1200px;
	background-color: #fff;
	margin: 0 auto;
	@include box-shadow (0px 19px 52px 0 #b9b9b9);

	&.player-archive:hover {
		.player-progress-active {
			@include transition(height 90ms ease-out);
			height: 16px;
		}
	}

	.player {
		position: absolute;
		top: 50%;
        margin-left: 40px;
        @include transform (translate(0, -50%));
        @include user-select(none);
    
        .player-btn {
        	width: 16px; 
            height: 20px;
            //background-position: -85px -54px;
            background-image: url('../images/icons/svg/play.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 37px;
			cursor: pointer;
            opacity: .7;
            
            &:hover {
                opacity: 1;
            }

            &.player-btn-pause {
            	background-image: url('../images/icons/svg/pause.svg');
  		        //background-position: -102px -54px;
			}
		}

		.player-track {
			width: 320px;
			display: inline-block;
			color: #212121;
			vertical-align: middle;
			line-height: 24px;
			letter-spacing: 0.2px;

			.broadcast {
				color: #2095F2;
				letter-spacing: 1px;
				font-size: em(12,14);
				font-weight: 500;
				line-height: 24px;
				text-transform: uppercase;
			}
            
            .player-track-artist,
            .player-track-title {
            	overflow: hidden;
    			white-space: nowrap;
				font-size: em(16,14);
            }

            .player-track-title {
            	font-weight: 300;
            }
		}
	}
    
    keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }
    @-o-keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }
    @keyframes progress_loading_animate{
        from{background-position:0 0}to{background-position: 1200px 0};
    }

	.player-progress {
		height: 4px;
		width: 100%;
		position: absolute;
		top: 84px;
		@include user-select(none);
        
        &.player-progress-active {
            .player-progress-loading-bar {
                opacity: 1;
                transition: opacity 1s linear;
                background: url('../images/audio_progress.png') repeat-x;
                animation: progress_loading_animate 30s linear infinite;    
            }    
        }
        
        .player-progress-loading-bar {
            width: 100%;
            height: 100%;
            opacity: 0;
            @include animation-play-stop(paused);
        }

		.player-progress-wrap-val {
			width: 100%;
			height: 4px;
			position: absolute;
			top: 0;
			opacity: 0;
			overflow: hidden;
  			background-image: linear-gradient(to right, #2196F3 0%, #ff0000 100%, transparent 30px), repeating-linear-gradient(-45deg, transparent, transparent 6px, rgba(255,255,255,1) 6px, rgba(255,255,255,1) 12px);

			.player-progress-val {
				height: 100%;
				background-color: #eeeeee;
			}

		}

		.player-progress-buffer {
			width: 0px;
			height: 4px;
			position: absolute;
			bottom: 0;
			background-color: #e0e0e0;
			z-index: 1;
		}
	}

	&.player-live {

		.player-progress-active {
			.player-progress-wrap-val {
				opacity: 1;
				transition: opacity .9s linear;

				.player-progress-val {
					height: 0;
				}
			}

			.player-progress-loading-bar {
				position: relative;
			}
		}

		.player-progress-text {
			display: none;
		}
	}

	&.player-archive {
		.player-progress {
			cursor: pointer;
			background-color: #eeeeee;
		}

		.player-progress-text {
			position: relative;
			font: em(10,14) 'Arial';
			letter-spacing: 1.5px;
			-webkit-font-smoothing: none;
			z-index: 3;

			.pp-text-left {
				float: left;
				margin-left: 15px;
			}

			.pp-text-right {
				float: right;
				margin-right: 15px;
			}

			.pp-text-left,
            .pp-text-right {
				opacity: 0;
            }
		}

		&:hover {
			.player-progress-text {
				height: 16px;
				line-height: 16px;

				.pp-text-left,
				.pp-text-right {
					transition: all 90ms ease-out 90ms;
					opacity: 1;
					display: block;
				}
			}
		}

		.player-progress-active {
			.player-progress-wrap-val {
				height: 100%;
				opacity: 1;
				z-index: 2;
			}

			.player-progress-buffer {
				height: 100%;
			}

			.player-progress-loading-bar {
				display: none;
				@include animation-play-stop(paused);
			}
		}

		.live {
        	visibility: visible;
        	opacity: 1;
        	cursor: pointer;
        	
        	&:hover {
            	background-color: #2095F2;
            	color: #fff;
        	}
        }
	}

	.live {
		visibility: hidden;
        position: absolute;
        top: 50%;
        width: 168px;
        height: 12px;
        padding: 5px;
        right: 200px;
        color: #2095F2;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 0;
        letter-spacing: 1px;
        @include transform(translate(0, -50%));
        @include border-radius(3px);
        @include transition(all .4s ease);
	}

	.logo {
		position: absolute;	
		left: 50%;
    	top: 48%;
    	@include transform(translate(-50%, -50%));
		cursor: pointer;
	}

	.volume-player {
		width: 120px;
		height: 2px;
		background-color: #BCBCBC;
		position: absolute;
		right: 40px;
		top: 50%;
		margin-top: -1px;
		cursor: pointer;
	}

	.button-live {
		position: relative;
		display: none;
		width: 60px;
		height: 60px;
		background-color: #2196F3;
		@include border-radius(50%);
		cursor:pointer;

		.button-live-img {
			background-position: -63px -55px; 
			width: 14px;
			height: 18px;
			@include transform(translate(-50%, -50%));
			@include position(absolute, $top: 50%, $left: 50%);
		}
	}
}

.content {
    position: relative;
	width: 1200px;
	margin: 80px auto 0;

	&:after,
	&:before {
		position: absolute;
		color: #eeeeee;
		z-index: -1;
		font-size: 92px;
		font-weight: 100;
	}

	&:after {
		content: "блог";
		top: 60px;
		left: -124px;
		@include transform(rotate(-90deg));
	}

	&:before {
		content: 'архив';
		top: 85px;
		right: -152px;
		@include transform(rotate(90deg));
	}
}

#slider {
	.ui-slider-handle {
		width: 10px;
		height: 10px;
		background: #616161;
		position: absolute;
		top: -4px;
		outline: none;
		z-index: 200;
		@include border-radius(4.5px);
		@include transition (transform 0.3s);
	}

	&:hover {
		.ui-slider-range,
		.ui-slider-handle {
			background-color: #212121;
		}
		.ui-slider-handle {
			transform: scale(1.5, 1.5);
		}
	}
}



.ui-widget-header {
	background: #606060 no-repeat left;
	height:2px;
	left:1px;
	top:0;
	position:absolute;
}

.archive,
.blog {
	width: 580px;
	height: 850px;
	background-color: #fff;
	@include box-shadow (0px 1px 4px 0 #e2e2e2);
}

.blog {
	float: left;
    padding-top: 40px;
    box-sizing: border-box;
    
    .blog-wrapper {
        height: 770px;
        overflow: hidden;
    }

	.post {
		font-size: em(16,14);
		font-weight: 300;
        
        &:not(:last-child) {
            margin-bottom: 40px;
        }

		.post-header,
		.post-content {
			padding: 0 40px;
		}
        
        .post-header {    
            margin-bottom: 15px;
        }
        
		.post-icon {
            float: left;
            margin-top: 3px;
		}

		.post-published-date {
			color: #9E9E9E;
    		display: inline-block;
            margin-left: 21px;
		}

		.post-text {
		    width: 346px;
		    margin-bottom: 18px;
		    line-height: 24px;
		    text-align: justify;
		    word-wrap: break-word;
		}

		.post-text,
		.post-image {
			width: 500px;
		}

		.post-audio-playing {
			.audio-play {
				background-position: 8px -15px;
			}	
		}

		.post-wall-audio {
			margin-top: 15px;

			.post-audio {

				&:hover {
					cursor: pointer;
					background-color: #f2f4f7;
				}

				&:not(:first-child) {
					margin-top: 10px;
				}
		
				.post-audio-play {
					float: left;

					.audio-play {
						width: 24px;
						height: 24px;
						border-radius: 50%;
						background: #577CA1 url(../images/audio_playpause.png) no-repeat 8px 7px;
						outline: none;
						border: none;
						display: block;
						cursor: pointer;
					}
				}

				.audio-info {
					padding: 2px 0 0 35px;

					.audio-info-artist,
					.audio-info-title {
						color: #2a5885;
					}

					.audio-info-artist {
						font-weight: 500;
					}

					.divider {
						padding: 0 5px;
					}
				}
			}
		}
	}
}

.archive {
	float: right;

	.archive-form-search {
		position: relative;
		height: 80px;

		.afs-input {
			height: 100%;
			width: 100%;
			z-index: 1;
			padding: 0 100px 0 77px;
			border: 0;
			outline:none;
			vertical-align: middle;
			@include transition (box-shadow .4s ease);
			font-size: em(16,14);
			box-sizing: border-box;

			&:focus {
				@include box-shadow (0px 10px 26px 0px #e0e0e0);
			}
		}

		.afs-btn {
			@include position(absolute, $top: 50%, $left: 40px);
			@include transform(translateY(-50%));
			opacity: .4;
            cursor: pointer;
			border: none;
			outline:none;
			-webkit-appearance: none;
		}

		.afs-filter {
			@include position(absolute, $top: 50%, $right: 40px);
			@include transform(translateY(-50%));
			cursor: pointer;
		}

		.afs-filter-open {
			//background-position: -1px -33px;
		}
	}

	.archive-form-search-wrap {
		@include transition(box-shadow .3s ease .4s);
		font-weight: 300;
	}

	.archive-form-search-wrap-active {
		@include transition(box-shadow .6s ease);
		@include box-shadow (0px 10px 26px 0px #e0e0e0);

		.ultima-icon-filter {
			background-image: url('../images/icons/svg/filter-active.svg');	
		}
	}

	.archive-form-search-active {

		.afs-btn {
			@include transition (opacity .4s ease);
			opacity: 1;
		}
	}
    
    .nav-calendar {
    	position: relative;
    	width: 100%;
    	box-sizing: border-box;
    	background-color: #fff;
    	z-index: 2;
        color: #616161;
        padding: 0 40px;
        font-size: em(16,14);
        display: none;

        .nc-row {
        	height: 20px;
        	text-align: justify;
        	&:after {
    			width: 100%;
                height: 0;
                visibility: hidden;
                overflow: hidden;
                content: '';
                display: inline-block;
        	}
        }
        
        .nc-item {
        	opacity: 0;
        	padding: 14px 0;
            @include transition (opacity 0.1s ease);
            border-bottom: 1px solid #eee;

            .nc-sub-item {
                display: inline-block;
                cursor: pointer;

                &:hover {
                	color: #000;
                	@include transition(color 0.2s ease);
                }
                
                &.nc-sub-item-selected {
                    color: #2196F3;
                }
            } 
        }

        .nav-calendar-year-section {
       		padding: 26px 0 10px 0;

       		.ncys-item {
       			margin-right: 18px
       		}
        }
        
        .nav-calendar-month-section {
        	padding: 10px 0 9px 0;

        	.nc-row:first-child {
        		padding-bottom: 14px
        	}
        }

        .nav-calendar-day-section {
        	padding: 12px 0 9px 0;

        	.nc-row:first-child {
        		padding-bottom: 13px
        	}
        }

        .nav-calendar-time-section {
			padding-top: 12px;

			.nc-row {
				padding-bottom: 12px;
			}
        }

        .nc-reset-btn {
        	position: absolute;
    		top: 26px;
    		right: 40px;
    		opacity: 0;
    		cursor: pointer;

    		&:hover {
    			color: #f44336;
    		}
        }
    }

    .nav-calendar-active {
    	.nc-item,
    	.nc-reset-btn {
    		@include transition (opacity 0.4s ease 0.4s);
    		opacity: 1;
    	}
    }
    
    .archive-wrapper {
    	position: absolute;
    	top: 78px;
    	height: 730px;
        padding-left: 20px;
        overflow: hidden;
        
        .archive-audio {
        	position: relative;
            width: 520px;
            height: 74px;
            padding: 28px 20px;
            border: 1px solid transparent;
            box-sizing: border-box;
            cursor: pointer;
          
            &:hover {
                border-color: #E0E0E0;
            }

            .audio-info {
            	display: inline-block;
            	width: 400px;
            	overflow: hidden;
            	white-space: nowrap;
            	text-overflow: ellipsis;

            	.ai-title {
					font-size: em(16,14);
					font-weight: 300;
            	}

            	.ai-singer {
					font-size: em(16,14);
            	}
            }

            .audio-duration {
            	float: right;
            	font-size: em(16,14);
				font-weight: 300;
            }
        }

        .archive-audio-playing {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				@include transform(translate(0, -50%));
				display: block;
				width: 8px; 
				height: 11px;
				background: url('../images/ultima-icon.png') -1px -58px;
			}
        } 
    }
}

footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    
    .footer-address {
        float: left;
        .fa-mail {	
        	color: #2095F2;
        	font-weight: 300;
        }
    }
    
    .footer-icons {
        float: right;
        
        .footer-icons-list-item {
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child) {
                margin-right: 28px;
            }
        }
    }

    .footer-stats {
		margin-top: 35px;
	    float: left;
	    width: 100%;
		font: 10px 'Arial';
		letter-spacing: 1.5px;
		-webkit-font-smoothing: none;
		-moz-osx-font-smoothing: auto;

		.footer-stats-wrapper {
			float: right;

			.fs-item {
				display: inline-block;
				text-transform: uppercase;

				&:not(:last-child) {
					margin-right: 10px;	
				}

				.fsi-name {
					display: inline-block;
					color: #9d9d9d;
				}

				.fsi-val {
					display: inline-block;
					color:  #747474;
				}
			}
		}
	}
}
