{{#.}}
    <div class="archive-audio audio">
        <div class="audio-info" data-audio-url="{{audio_url}}"  data-audio-time-played="{{# convertUnixtime }} {{  played_at }} {{/ convertUnixtime }}">
            <span class="aai-singer">{{ audio_artist }}</span>
            <span class="divider">-</span>
            <span class="aai-title">{{ audio_title }}</span>
        </div>
        <div class="audio-duration" data-audio-duration="{{ duration }}">{{# timeFormat}} {{ duration }} {{/ timeFormat}}</div>
    </div>
{{/.}}