{{#.}}
	<div class="post">
		<div class="post-header">
			<a class="post-icon" href="{{ post_url }}" target="_blank">
				<div class="ultima-icon ultima-icon-{{ network}}"></div>
			</a>        
			</a>        
			<div class="post-published-date">{{# convertUnixtime }} {{ created_at }} {{/ convertUnixtime }}</div>
		</div>
		<div class="post-content">
			{{#body}}
				<div class="post-text">{{{ body }}}</div>
			{{/body}}
			{{^body}}{{/body}}
			
			{{#images}}
				<div class="post-image">
					<img src="{{ url }}"/>
				</div>
			{{/images}}
			{{^image_url}}{{/image_url}}

			{{#audio_files}}
				<div class="post-wall-audio">
					<div class="post-audio audio clear">
						<div class="post-audio-play">
                            <button class="audio-play"></button>
                        </div>
                        <div class="audio-info" data-audio-url="http://kolber.github.io/audiojs/demos/mp3/01-dead-wrong-intro.mp3" data-audio-duration="{{# timeFormat}} {{ duration }} {{/ timeFormat}}">
                            <span class="ai-singer">{{ audio_artist }}</span>
                            <span class="divider">-</span>
                            <span class="ai-title">{{ audio_title }}</span>
                        </div>
					</div>
				</div>
			{{/audio_files}}
			{{^audio_files}}{{/audio_files}}
		</div>
	</div>
{{/.}}
